<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'App',
    data () {
      return {
        section: 'Head'
      }
    },
    updated () {
      this.$nextTick(function () {
        window.jQuery(window, '.wrapper').resize()
      })
    }
  }
</script>
