<template>
  <div class="container container-table">
      <div class="row vertical-10p">
        <div class="container">
          <img src="/static/img/logo.png" class="center-block logo">
          <div class="text-center col-md-4 col-md-offset-4">
            <!-- login form -->
            <form class="ui form loginForm clearfix" @submit.prevent="checkCreds">

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input class="form-control" name="email" placeholder="Email" type="email" v-model="email">
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input class="form-control" name="password" placeholder="Password" type="password" v-model="password">
              </div>

              <router-link tag="a" class="reset-link pull-left" to="/password-reset/request">
                Forgot password?
              </router-link>

              <button type="submit" v-bind:class="'btn btn-primary btn-lg pull-right ' + loading">Submit</button>
            </form>

            <!-- errors -->
            <div v-if="response" class="text-red error-message"><p>{{response.message}}</p></div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import api from '../api'
import Toast from '../mixins/toast'

export default {
  name: 'Login',
  mixins: [ Toast ],
  data (router) {
    return {
      section: 'Login',
      loading: '',
      email: 'admin@admin.com',
      password: 'admin',
      response: ''
    }
  },
  mounted () {
    if (this.$route.query && this.$route.query.passwordReset) {
      this.showToast('Password updated successfully, please sign-in with new password.', 'success')
    }
  },
  watch: {
    'response': function (value, mutation) {
      if (value.message && value.type) {
        this.showToast(value.message, value.type)
      }
    }
  },
  methods: {
    checkCreds () {
      const {email, password} = this

      this.toggleLoading()
      this.resetResponse()
      this.$store.commit('TOGGLE_LOADING')

      if (!email || email === '' || !password || password === '') {
        this.response = {
          'type': 'error',
          'message': 'Email/Password empty. Please try again.'
        }
        return
      }

      /* Making API call to authenticate a user */
      api.request('post', '/auth/login', {email, password})
      .then(response => {
        this.toggleLoading()

        var data = response.data
        /* Checking if error object was returned from the server */
        if (data.error) {
          this.response = {
            'type': 'error',
            'message': data.error
          }
          return
        }

        /* Setting user in the state and caching record to the localStorage */
        if (data.user) {
          var token = 'Bearer ' + data.token

          this.$store.commit('SET_USER', data.user)
          this.$store.commit('SET_TOKEN', token)

          if (window.localStorage) {
            window.localStorage.setItem('user', JSON.stringify(data.user))
            window.localStorage.setItem('token', token)
          }

          this.$router.push(data.redirect ? data.redirect : '/')
        }
      })
      .catch((error) => {
        this.$store.commit('TOGGLE_LOADING')
        console.log(error)

        this.response = {
          'type': 'error',
          'message': 'Server appears to be offline'
        }
        this.toggleLoading()
      })
    },
    toggleLoading () {
      this.loading = (this.loading === '') ? 'loading' : ''
    },
    resetResponse () {
      this.response = ''
    }
  }
}
</script>

<style>
html, body, .container-table {
  height: 100%;
  background-color: #282B30 !important;
}
.container-table {
    display: table;
    color: white;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.vertical-20p {
  padding-top: 20%;
}
.vertical-10p {
  padding-top: 10%;
}
.logo {
  width: 15em;
  padding: 3em;
}
.loginForm .input-group {
  padding-bottom: 1em;
  height: 4em;
}
.input-group input {
  height: 4em;
}
.input-group .input-group-addon {
  min-width: 40px;
}
a.reset-link{
  margin-top: 12px;
}
div.error-message{
  margin-top: 15px;
}
</style>
