<template>
  <div class="container container-table">
      <div class="row vertical-10p">
        <div class="container">
          <img src="/static/img/logo.png" class="center-block logo">
          <div class="text-center col-md-4 col-md-offset-4">
            <!-- login form -->
            <form class="ui form loginForm clearfix" @submit.prevent="resetPassword">

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input class="form-control" name="email" placeholder="Email" type="email" v-model="email">
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input class="form-control" name="password" placeholder="New password" type="password" v-model="password">
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input class="form-control" name="password_confirmation" placeholder="Confirm password" type="password" v-model="passwordConfirmation">
              </div>

              <button type="submit" v-bind:class="'btn btn-primary btn-lg pull-right ' + loading">Submit</button>

            </form>

          </div>
        </div>
      </div>
  </div>
</template>

<script>
import api from '../api'
import Toast from '../mixins/toast'

export default {
  name: 'Password Reset Form',
  mixins: [ Toast ],
  data (router) {
    return {
      section: 'Password Reset Form',
      loading: '',
      email: this.$route.params.email,
      password: '',
      passwordConfirmation: '',
      token: this.$route.params.token,
      response: ''
    }
  },
  watch: {
    'response': function (value, mutation) {
      if (value.message && value.type) {
        this.showToast(value.message, value.type)
      }
    }
  },
  methods: {
    resetPassword () {
      const {email, password, passwordConfirmation, token} = this

      this.toggleLoading()
      this.resetResponse()
      this.$store.commit('TOGGLE_LOADING')

      if (!email || !password || !passwordConfirmation) {
        this.response = {
          'type': 'error',
          'message': 'Missing required fields. Please try again.'
        }
        return
      }

      if (password.length <= 6) {
        this.response = {
          'type': 'error',
          'message': 'Password should be at least 6 characters long.'
        }
        return
      }

      if (passwordConfirmation !== password) {
        this.response = {
          'type': 'error',
          'message': 'Password & confirmation do not match.'
        }
        return
      }

      /* Making API call to authenticate a user */
      api.request('post', '/auth/password/reset', {email, password, 'password_confirmation': passwordConfirmation, token}).then(response => {
        this.toggleLoading()

        var data = response.data
        /* Checking if error object was returned from the server */
        if (data.error) {
          this.response = {
            'type': 'error',
            'message': data.error
          }
        } else {
          this.$router.push('/login?passwordReset=1')
        }
      }).catch((error) => {
        this.$store.commit('TOGGLE_LOADING')
        console.log(error)

        this.response = {
          'type': 'error',
          'message': 'Server appears to be offline'
        }
        this.toggleLoading()
      })
    },
    toggleLoading () {
      this.loading = (this.loading === '') ? 'loading' : ''
    },
    resetResponse () {
      this.response = ''
    }
  }
}
</script>

<style>
html, body, .container-table {
  height: 100%;
  background-color: #282B30 !important;
}
.container-table {
    display: table;
    color: white;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.vertical-20p {
  padding-top: 20%;
}
.vertical-10p {
  padding-top: 10%;
}
.logo {
  width: 15em;
  padding: 3em;
}
.loginForm .input-group {
  padding-bottom: 1em;
  height: 4em;
}
.input-group input {
  height: 4em;
}
.input-group .input-group-addon {
  min-width: 40px;
}
a.reset-link{
  margin-top: 12px;
}
</style>
