<template>
  <div class="filter-bar pull-right">
    <div class="row form-inline">
      <div class="col-xs-12 form-group">
        <input type="text" v-model="filterText" class="form-control" @keyup.enter="doFilter" placeholder="Search">
        <button class="btn btn-default btn-sm" @click="doFilter">Go</button>
        <button class="btn btn-default btn-sm" @click="resetFilter">Reset</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      filterText: ''
    }
  },
  methods: {
    doFilter () {
      this.$events.fire('filter-set', this.filterText)
    },
    resetFilter () {
      this.filterText = ''
      this.$events.fire('filter-reset')
    }
  }
}
</script>

<style>
  div.filter-bar{
    width: calc(100% - 105px);
  }

  @media only screen and (max-width: 768px) {
    div.filter-bar button{
      margin-top: 5px;
    }
  }
</style>

