<template>
  <div>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title" v-if="$route.params.id === 'new'">Create new account</h3>
              <h3 class="box-title" v-if="$route.params.id !== 'new'">Edit account</h3>
            </div>

            <div class="box-body">
              <form class="ui form accountForm" @submit.prevent="saveAccount">
                <div class="row form-row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group" :class="{'has-error': errors.has('name') }">
                      <label for="name">Account Name</label>
                      <input class="form-control" id="name" type="text" name="name" v-model="name" v-validate data-vv-rules="required|min:3">
                      <span class="help-block" v-if="errors.has('name')">{{ errors.first('name') }}</span>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group" :class="{'has-error': errors.has('email') }">
                      <label for="email">Account Email</label>
                      <input class="form-control" id="email" type="email" name="email" v-model="email" v-validate data-vv-rules="required|email">
                      <span class="help-block" v-if="errors.has('email')">{{ errors.first('email') }}</span>
                    </div>
                  </div>
                </div>
                <div class="row form-row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="ajax_owner">Account Owner</label>
                      <multiselect id="ajax_owner" label="email" track-by="id" placeholder="Type to search"
                                   v-model="owner"
                                   open-direction="bottom"
                                   :options="foundUsers"
                                   :multiple="false"
                                   :searchable="true"
                                   :loading="isLoadingUsers"
                                   :internal-search="false"
                                   :clear-on-select="true"
                                   :close-on-select="true"
                                   :options-limit="10"
                                   :limit="10"
                                   :limit-text="limitText"
                                   :max-height="600"
                                   :show-no-results="true"
                                   :allow-empty="true"
                                   @search-change="searchUsers"
                                   @input="onOwnerUpdate"
                      >
                        <span slot="noResult">Oops! No users found. Consider changing the search query.</span>
                      </multiselect>
                    </div>
                  </div>
                </div>
                <div class="row form-row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="ajax_members">Account Members</label>
                      <multiselect id="ajax_members" label="email" track-by="id" placeholder="Type to search"
                                   v-model="members"
                                   open-direction="bottom"
                                   :options="foundMembers"
                                   :multiple="true"
                                   :searchable="true"
                                   :loading="isLoadingMembers"
                                   :internal-search="false"
                                   :clear-on-select="false"
                                   :close-on-select="false"
                                   :options-limit="10"
                                   :limit="10"
                                   :limit-text="limitText"
                                   :max-height="600"
                                   :show-no-results="true"
                                   :allow-empty="true"
                                   @search-change="searchMembers"
                      >
                        <span slot="noResult">Oops! No users found. Consider changing the search query.</span>
                      </multiselect>
                    </div>
                  </div>
                </div>

                <div class="row form-row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-md pull-right">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import Multiselect from 'vue-multiselect'
import usersService from '../../mixins/usersService'
import accountsService from '../../mixins/accountService'
import Toast from '../../mixins/toast'

Vue.use(VeeValidate, {fieldsBagName: 'formFields'})

export default {
  name: 'Account Settings',
  mixins: [
    usersService,
    accountsService,
    Toast
  ],
  components: {
    Multiselect
  },
  data () {
    return {
      name: '',
      email: '',
      owner: '',
      members: [],
      isLoadingUsers: false,
      isLoadingMembers: false,
      foundUsers: [],
      foundMembers: []
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.preloadAccountData(to.params.id)
    })
  },
  beforeRouteUpdate (to, from, next) {
    next((vm) => {
      vm.preloadAccountData(to.params.id)
    })
  },
  methods: {
    limitText (count) {
      return `and ${count} other users`
    },
    searchUsers (query) {
      this.isLoadingUsers = true
      this.getUsers(query, '', 'free', (this.$route.params.id === 'new') ? '' : this.$route.params.id).then(response => {
        this.foundUsers = response.data
        this.isLoadingUsers = false
      })
    },
    searchMembers (query) {
      this.isLoadingMembers = true
      this.getUsers(query, (this.owner) ? this.owner.id : '', 'free', (this.$route.params.id === 'new') ? '' : this.$route.params.id).then(response => {
        this.foundMembers = response.data
        this.isLoadingMembers = false
      })
    },
    onOwnerUpdate () {
      this.searchMembers('')
      if (this.members.length > 0 && this.owner) {
        this.members = this.members.filter((item) => {
          return item.id !== this.owner.id
        })
      }
    },
    saveAccount () {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return
        }

        let account = {
          name: this.name,
          email: this.email,
          owner: (this.owner) ? this.owner.id : null,
          members: (this.members.length) ? this.members.map(a => a.id) : null
        }

        let promise
        if (this.$route.params.id === 'new') {
          promise = this.createAccount(account)
        } else {
          promise = this.updateAccount(this.$route.params.id, account)
        }

        promise.then(response => {
          if (!response.data.status && response.data.errors) {
            this.showToast('Validation errors occurred, please update the highlighted inputs', 'error')

            let app = this
            window.jQuery.each(response.data.errors, (field, messages) => {
              app.errors.add(field, messages[0])
            })
            return
          }

          if (this.$route.params.id === 'new') {
            this.$router.push('/accounts?accountCreated=1')
          } else {
            this.$router.push('/accounts?accountUpdated=1')
          }
        })
      })
    },
    preloadAccountData (id) {
      this.foundUsers = []
      this.foundMembers = []
      this.getUsers('', '', 'free', (id === 'new') ? '' : id).then(response => {
        this.foundUsers = response.data
        this.foundMembers = response.data

        if (id !== 'new') {
          this.getAccount(id).then(resp => {
            this.name = resp.data.account.name
            this.email = resp.data.account.email
            this.members = resp.data.account.users
            this.owner = resp.data.account.owner
            this.onOwnerUpdate()
          })
        }
      })
    },
    clearAll () {
      this.owner = ''
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
  .multiselect__tags{
    border-radius: 0;
    border-color: #d2d6de;
  }
  .multiselect--active .multiselect__tags{
    border-color: #3c8dbc;
    box-shadow: none;
  }
</style>

