<template>
  <section class="content">
    <div class="row center-block">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <button class="btn btn-success btn-sm pull-right create-button" v-on:click="onCreateUser">
              <i class="fa fa-plus"></i> Add User
            </button>
            <filter-bar></filter-bar>
          </div>
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
              <div class="table-responsive">
                <vuetable ref="vuetable"
                          api-url="/api/users"
                          perPage="10"
                          :httpOptions="header"
                          :fields="tableFields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :css="css.table"
                          :append-params="moreParams"
                >
                  <template slot="actions" scope="props">
                    <div class="custom-actions btn-group btn-group-sm">
                      <!--<button class="btn btn-default"
                              @click="onAction('view', props.rowData, props.rowIndex)">
                        <i class="fa fa-eye"></i>
                      </button>-->
                      <button class="btn btn-default"
                              @click="onAction('edit', props.rowData, props.rowIndex)">
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                      <button class="btn btn-danger"
                              @click="onAction('delete', props.rowData, props.rowIndex)">
                        <i class="fa fa-ban"></i>
                      </button>
                    </div>
                  </template>
                </vuetable>
              </div>
              <div class="vuetable-pagination ui basic segment grid">
                <vuetable-pagination-info ref="paginationInfo" :css="css.paginationInfo"></vuetable-pagination-info>
                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from 'vue'
import VueEvents from 'vue-events'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import FilterBar from '../vueTable/VuetableFilterBar.vue'
import CssConfig from '../vueTable/VuetableCssConfig.js'
import moment from 'moment'
import usersService from '../../mixins/usersService'
import Toast from '../../mixins/toast'
import rolesService from '../../mixins/rolesService'

Vue.component('filter-bar', FilterBar)
Vue.use(VueEvents)

export default {
  name: 'Users List',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo
  },
  mixins: [ usersService, Toast, rolesService ],
  mounted () {
    this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
    this.$events.$on('filter-reset', e => this.onFilterReset())

    if (this.$route.query && this.$route.query.userCreated) {
      this.showToast('User created successfully.', 'success')
    }

    if (this.$route.query && this.$route.query.userUpdated) {
      this.showToast('User updated successfully.', 'success')
    }

    if (this.$route.query && this.$route.query.userNotFound) {
      this.showToast('User not found.', 'error')
    }
  },
  watch: {
    '$route': (route) => {
      if (route.query && route.query.userCreated) {
        Toast.showToast('User created successfully.', 'success')
      }

      if (route.query && route.query.userUpdated) {
        Toast.showToast('User updated successfully.', 'success')
      }

      if (route.query && route.query.userNotFound) {
        Toast.showToast('User not found.', 'success')
      }
    }
  },
  computed: {
    tableFields () {
      if (!this.userHasRole('admin')) {
        this.fields = this.fields.filter((field) => {
          return (field.name !== 'attached_to_account_count' && field.name !== 'owned_account_count')
        })
      }
      return this.fields
    }
  },
  data () {
    return {
      header: {
        headers: {
          'Authorization': this.$store.state.token
        }
      },
      fields: [
        {'name': 'id', 'title': '#', 'sortField': 'id'},
        {'name': 'email', 'title': 'Email', 'sortField': 'email'},
        {'name': 'attached_to_account_count', 'title': 'Account Member', 'callback': 'accountLabel', 'sortField': 'attached_to_account_count', 'titleClass': 'text-center hide-875', 'dataClass': 'text-center hide-875'},
        {'name': 'owned_account_count', 'title': 'Account Owner', 'callback': 'accountLabel', 'sortField': 'owned_account_count', 'titleClass': 'text-center hide-875', 'dataClass': 'text-center hide-875'},
        {'name': 'cases_count', 'title': 'Cases', 'sortField': 'cases_count', 'titleClass': 'text-center', 'dataClass': 'text-center'},
        {'name': 'created_at', 'title': 'Created At', 'callback': 'formatDate|DD-MM-YYYY HH:mm:ss', 'sortField': 'created_at', 'titleClass': 'text-center hide-1020', 'dataClass': 'text-center hide-1020'},
        {'name': '__slot:actions', 'title': 'Actions', 'titleClass': 'text-right', 'dataClass': 'text-right'}
      ],
      css: CssConfig,
      moreParams: {}
    }
  },
  methods: {
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    formatDate (value, fmt = 'D MMM YYYY') {
      return (value === null) ? '' : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
    },
    accountLabel (value) {
      return value
        ? '<span class="label label-success"><i class="fa fa-check"></i></span>'
        : '<span class="label label-danger"><i class="fa fa-times"></i></span>'
    },
    onFilterSet (filterText) {
      this.moreParams = {
        'filter': filterText
      }
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    onFilterReset () {
      this.moreParams = {}
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    onAction (action, data, index) {
      switch (action) {
        case 'view':
          break
        case 'edit':
          this.$router.push('/user/' + data.id)
          break
        case 'delete':
          this.deleteUser(data.id).then(response => {
            if (response.data.status) {
              this.$refs.vuetable.refresh()
              this.showToast('User removed.', 'success')
            } else {
              this.showToast(response.data.errors, 'error')
            }
          })
          break
      }
    },
    onCreateUser () {
      this.$router.push('/user/new')
    }
  }
}
</script>
<style lang="scss">
  div.pagination{
    margin: 0;
  }
  div.pagination-info{
    margin-top: 6px;
  }
  table.vuetable thead th{
    vertical-align: middle;
  }

  button.create-button{
    margin-left: 10px;
    margin-top: 2px;
    max-width: 95px;
  }

  @media only screen and (max-width:1020px){
    th.hide-1020, td.hide-1020{
      display: none;
    }
  }

  @media only screen and (max-width:875px){
    th.hide-875, td.hide-875{
      display: none;
    }
  }

  @media only screen and (max-width:768px){
    div.vuetable-pagination-info{
      display: none;
    }
  }
</style>
