<template>
  <div>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title" v-if="$route.params.id === 'new'">Create new user</h3>
              <h3 class="box-title" v-if="$route.params.id !== 'new'">Edit user</h3>
            </div>

            <div class="box-body">
              <form class="ui form userForm" @submit.prevent="saveUser">
                <div class="row form-row">
                  <div class="col-xs-12">
                    <div class="form-group" :class="{'has-error': errors.has('email') }">
                      <label for="email">User Email</label>
                      <input class="form-control" id="email" type="email" name="email" v-model="email" v-validate data-vv-rules="required|email">
                      <span class="help-block" v-if="errors.has('email')">{{ errors.first('email') }}</span>
                    </div>
                  </div>
                </div>
                <div class="row form-row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group" :class="{'has-error': errors.has('password') }">
                      <label for="password">Password</label>
                      <input v-if="$route.params.id === 'new'" class="form-control" id="password" type="password" name="password" v-model="password" v-validate data-vv-rules="required|min:6|confirmed:password_confirm">
                      <input  v-if="$route.params.id !== 'new'" class="form-control" id="password" type="password" name="password" v-model="password" v-validate data-vv-rules="min:6|confirmed:password_confirm">
                      <span class="help-block" v-if="errors.has('password')">{{ errors.first('password') }}</span>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group" :class="{'has-error': errors.has('password_confirm') }">
                      <label for="email">Confirm Password</label>
                      <input v-if="$route.params.id === 'new'" class="form-control" id="password_confirm" type="password" name="password_confirm" v-model="password_confirm" v-validate data-vv-rules="required|min:6" data-vv-as="password confirmation">
                      <input v-if="$route.params.id !== 'new'" class="form-control" id="password_confirm" type="password" name="password_confirm" v-model="password_confirm" v-validate data-vv-rules="min:6" data-vv-as="password confirmation">
                      <span class="help-block" v-if="errors.has('password_confirm')">{{ errors.first('password_confirm') }}</span>
                    </div>
                  </div>
                </div>
                <div class="row form-row" v-if="$route.params.id !== 'new'">
                  <div class="col-xs-12">
                    <span class="help-block">Leave password fields blank to keep old password.</span>
                  </div>
                </div>
                <div class="row form-row" v-if="userHasRole('admin')">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="ajax_owner">Set as account owner</label>
                      <multiselect id="ajax_owner" label="email" track-by="id" placeholder="Type to search"
                                   v-model="account_owner"
                                   open-direction="bottom"
                                   :options="foundAccounts"
                                   :multiple="false"
                                   :searchable="true"
                                   :loading="isLoadingAccounts"
                                   :internal-search="false"
                                   :clear-on-select="true"
                                   :close-on-select="true"
                                   :options-limit="10"
                                   :limit="10"
                                   :limit-text="limitText"
                                   :max-height="600"
                                   :show-no-results="true"
                                   :allow-empty="true"
                                   @search-change="searchAccounts"
                                   @input="onOwnerUpdate"
                      >
                        <template slot="option" slot-scope="props">
                          <div class="option__desc">
                            <span class="option__title">Account Name: {{ props.option.name }}</span> <br>
                            <span class="option__small">Account Email: {{ props.option.email }}</span> <br>
                            <span class="option__small">Current Owner: {{ (props.option.owner) ? props.option.owner.email : 'None' }}</span>
                          </div>
                        </template>
                        <span slot="noResult">Oops! No accounts found. Consider changing the search query.</span>
                      </multiselect>
                      <span class="help-block">If selected account already has an owner - he'll be downgraded to account member.</span>
                    </div>
                  </div>
                </div>
                <div class="row form-row" v-if="userHasRole('admin')">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="ajax_members">Set as account member</label>
                      <multiselect id="ajax_members" label="email" track-by="id" placeholder="Type to search"
                                   v-model="account_member"
                                   open-direction="bottom"
                                   :options="foundAccountsMember"
                                   :multiple="false"
                                   :searchable="true"
                                   :loading="isLoadingAccounts"
                                   :internal-search="false"
                                   :clear-on-select="true"
                                   :close-on-select="true"
                                   :options-limit="10"
                                   :limit="10"
                                   :limit-text="limitText"
                                   :max-height="600"
                                   :show-no-results="true"
                                   :allow-empty="true"
                                   @search-change="searchMembers"
                                   @input="onMemberUpdate"
                      >
                        <template slot="option" slot-scope="props">
                          <div class="option__desc">
                            <span class="option__title">Account Name: {{ props.option.name }}</span> <br>
                            <span class="option__small">Account Email: {{ props.option.email }}</span>
                          </div>
                        </template>
                        <span slot="noResult">Oops! No users found. Consider changing the search query.</span>
                      </multiselect>
                    </div>
                  </div>
                </div>

                <div class="row form-row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-md pull-right">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import Multiselect from 'vue-multiselect'
import usersService from '../../mixins/usersService'
import accountsService from '../../mixins/accountService'
import Toast from '../../mixins/toast'
import rolesService from '../../mixins/rolesService'

Vue.use(VeeValidate, {fieldsBagName: 'formFields'})

export default {
  name: 'User Settings',
  mixins: [
    usersService,
    accountsService,
    rolesService,
    Toast
  ],
  components: {
    Multiselect
  },
  data () {
    return {
      email: '',
      password: '',
      password_confirm: '',
      account_owner: '',
      account_member: '',
      isLoadingAccounts: false,
      isLoadingMembers: false,
      foundAccounts: [],
      foundAccountsMember: []
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.preloadAccountData(to.params.id)
    })
  },
  beforeRouteUpdate (to, from, next) {
    next((vm) => {
      vm.preloadAccountData(to.params.id)
    })
  },
  methods: {
    limitText (count) {
      return `and ${count} other users`
    },
    searchAccounts (query) {
      this.isLoadingAccounts = true
      this.getAccountsList(query, (this.account_member) ? this.account_member.id : '').then(response => {
        this.foundAccounts = response.data
        this.isLoadingAccounts = false
      })
    },
    searchMembers (query) {
      this.isLoadingAccounts = true
      this.getAccountsList(query, (this.account_owner) ? this.account_owner.id : '').then(response => {
        this.foundAccountsMember = response.data
        this.isLoadingAccounts = false
      })
    },
    onOwnerUpdate () {
      this.searchMembers('')
      this.account_member = ''
    },
    onMemberUpdate () {
      this.searchAccounts('')
      this.account_owner = ''
    },
    saveUser () {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return
        }

        let user = {
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirm,
          account_owner: (this.account_owner) ? this.account_owner.id : null,
          account_member: (this.account_member) ? this.account_member.id : null
        }

        let promise
        if (this.$route.params.id === 'new') {
          promise = this.createUser(user)
        } else {
          if (!this.password && !this.password_confirm) {
            delete user.password
            delete user.password_confirmation
          }
          promise = this.updateUser(this.$route.params.id, user)
        }

        promise.then(response => {
          if (!response.data.status && response.data.errors) {
            this.showToast('Validation errors occurred, please update the highlighted inputs', 'error')

            let app = this
            window.jQuery.each(response.data.errors, (field, messages) => {
              app.errors.add(field, messages[0])
            })
            return
          }

          if (this.$route.params.id === 'new') {
            this.$router.push('/users?userCreated=1')
          } else {
            this.$router.push('/users?userUpdated=1')
          }
        })
      })
    },
    preloadAccountData (id) {
      if (this.userHasRole('admin')) {
        this.foundAccounts = []
        this.foundAccountsMember = []
        this.getAccountsList('').then(response => {
          this.foundAccounts = response.data
          this.foundAccountsMember = response.data

          if (id !== 'new') {
            this.getUser(id).then(resp => {
              this.email = resp.data.user.email
              this.account_owner = resp.data.user.owned_account
              this.account_member = resp.data.user.attached_to_account

              if (this.account_owner) {
                this.onOwnerUpdate()
              }

              if (this.account_member) {
                this.onMemberUpdate()
              }
            })
          }
        })
      } else {
        if (id !== 'new') {
          this.getUser(id).then(resp => {
            this.email = resp.data.user.email
          })
        }
      }
    },
    clearAll () {
      this.owner = ''
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
  .multiselect__tags{
    border-radius: 0;
    border-color: #d2d6de;
  }
  .multiselect--active .multiselect__tags{
    border-color: #3c8dbc;
    box-shadow: none;
  }
</style>

